# Copy to terraform.tfvars and adjust. terraform.tfvars is gitignored.

aws_region        = "ap-southeast-1"
environment       = "dev"
storefront_origin = "https://ezone.sg"
extra_cors_origins = [
  "http://localhost:4200",
]
